openapi: 3.0.3
info:
  title: Byte Bazaar Digital OpenAPI Specification
  description: >-
    Some useful links:

    - [The Electronics Retailer
    repository](https://github.com/BBDElectronicStore/BBD)
  contact:
    email: adrian.hawkins@bbd.co.za
  version: 0.0.1
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://api.electronics.projects.bbdgrad.com
tags:
  - name: Byte Bazaar Digital
    description: Buy your "Devices" From us (who else LOL)
paths:
  /store/price:
    get:
      tags:
        - store
      summary: Get the cost of items
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
      x-amazon-apigateway-integration:
        uri: arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${get-item-price-lambda-arn}/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy

  /store/order:
    post:
      tags:
        - store
      summary: Create order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '201':
          description: Customer Successfully Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderRef'
        '400':
          description: Invalid input
        '422':
          description: Validation Exception
      x-amazon-apigateway-integration:
        uri: arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${create-order-lambda-arn}/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
  /store/order/{orderRef}:
    get:
      tags:
        - store
      summary: Find purchase order by ID
      parameters:
        - name: orderRef
          in: path
          description: ID of order that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrder'
        '400':
          description: Invalid ID supplied
        '404': # Also used for when a user isn't authorised to do this
          description: Order not found
      x-amazon-apigateway-integration:
        uri: arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${get-order-lambda-arn}/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
    put:
      tags:
        - store
      summary: Cancel purchase order by ID
      parameters:
        - name: orderRef
          in: path
          description: ID of the order that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: All Good
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderRef'
        '400':
          description: Invalid ID supplied
        '404': # Also used for when a user isn't authorised to do this
          description: Order not found
      x-amazon-apigateway-integration:
        uri: arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${delete-order-lambda-arn}/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
  /customer:
    post:
      tags:
        - customer
      summary: Create customer - so that they can buy from us
      requestBody:
        description: Created user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '204':
          description: Customer Successfully Created
        '400':
          description: The client performed an incorrect action (either the wrong banking details or already has an account)
      x-amazon-apigateway-integration:
        uri: arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${create-customer-lambda-arn}/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
    get:
      tags:
        - customer
      summary: Get all customers
      responses:
        '200':
          description: Customer Successfully Created (Plus a list of the customer and their order history)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: This endpoint is only available to the Admin portal and not the other services
      x-amazon-apigateway-integration:
        uri: arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${get-customer-lambda-arn}/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
  /customer/{customerId}:
    parameters:
      - name: customerId
        in: path
        description: ID of the customer to update
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - customer
      summary: Get all orders for a customer
      responses:
        '200':
          description: Customer Successfully Created (Plus a list of the customer and their order history)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderandCustomer'
        '401':
          description: This endpoint is only available to the Admin portal and not the other services
      x-amazon-apigateway-integration:
        uri: arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${get-customer-orders-lambda-arn}/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
    put:
      tags:
        - customer
      summary: update the banking details of a customer using their ID
      requestBody:
        description: Customer new banking details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCustomer'
      responses:
        '200':
          description: Details updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRef'
        '400':
          description: The client performed an incorrect action (probably invalid banking details)
      x-amazon-apigateway-integration:
        uri: arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${update-customer-lambda-arn}/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
components:
  schemas:
    OrderRef:
      type: object
      properties:
        orderRef:
          type: string
    CustomerRef:
      type: object
      properties:
        customerRef:
          type: string   
    Price:
      type: object
      properties:
        total:
          type: number
        price:
          type: number
        vat: 
          type: number
    OrderandCustomer:
      type: object
      properties:
        quantity:
          type: integer
          format: int32
          example: 7
        date:
          type: integer
          format: int64
          example: 2024
        status:
          type: string
          description: Order Status
          example: approved
          enum:
            - placed
            - approved
            - complete # If the person says they got it
            - denied
            - cancelled
      xml:
        name: orderandcustomer
    Order:
      type: object
      properties:
        customerId:
          type: integer
          format: int64
          example: 198772
        quantity:
          type: integer
          format: int32
          example: 7
      xml:
        name: order
    UserOrder:
      type: object
      properties:
        customerId:
          type: integer
          format: int64
          example: 198772
        quantity:
          type: integer
          format: int32
          example: 7
        status:
          type: string
          description: Order Status
          example: placed
          enum:
            - placed
            - approved
            - collected
            - denied
            - cancelled
      xml:
        name: userorder
    Customer:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 100000
        username:
          type: string
          example: Bob
        banking-details:
          type: string
          example: fgh239nzx82y3b
      xml:
        name: customer
    UserCustomer:
      type: object
      properties:
        banking-details:
          type: string
          example: fgh239nzx82y3b
      xml:
        name: customer